@import './styles/colors.css';

/* Aquí puedes empezar a usar las variables en los demás estilos */
html, body {
  background-color: var(--azul-pastel);
  color: var(--texto-primario);
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}